@import '~bulma';

.navbar {
  height: 7rem;
  padding: 2rem 4rem;
}

.navbar-item {
  padding-top: 0;
  padding-bottom: 0;
}

.container {
  padding-bottom: 80px;
}

.footer {
  background-color: $primary;
}

.homepage {
  height: 400px;
}

.columns {
  height: 100%;
  margin: 0;
}

.column {
  padding: 5px;
}

.tags.has-addons {
  margin: 0;
}

.multiline-container {
  padding: 20px 0;
}

.multiline {
  max-width: 80%;
}

.hero-column {
  padding: 20px;
}

.image.show {
  width: 382px;
  height: 382px;
}
